<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="wrapper">

                    <form class="section-input" method="POST" action="crear_producto/process" enctype="multipart/form-data">
                        <label class="field">Título
                            <input type="text" class="input-text" name="title" id="titulo" minlength="1" oninvalid="this.setCustomValidity('*El campo no puede quedar vacío')">
                        </label>
                        <label class="field" for="year"> Año
                            <input type="number" name="year" id="year" min="1980" max="2023" value="2023" class="input-text">
                        </label>
                        <label class="field" for="estreno">Estreno
                            <select name="estreno" id="estreno" class="input-text">
                                <option value="" disabled selected hidden>Seleccionar</option>
                                <option value="si">Si</option>
                                <option value="no" >No</option>
                            </select>
                        </label>
                        <label class="field" for="descripcion"> Descripción
                            <input type="text" class="input-text" name="description" id="descripcion" minlength="1" oninvalid="this.setCustomValidity('*El campo no puede quedar vacío')">
                        </label>
                        <label class="field">Director
                            <input type="text" class="input-text" name="director" id="director" minlength="1" oninvalid="this.setCustomValidity('*El campo no puede quedar vacío')">
                        </label>
                        <label class="field">Reparto
                            <input type="text" class="input-text" name="cast" id="reparto" minlength="1" oninvalid="this.setCustomValidity('*El campo no puede quedar vacío')">
                        </label>
                        <label class="field">Puntuación
                            <input type="number" class="input-text" name="rating" id="puntacion" min="1" max= "5" placeholder="5"  oninvalid="this.setCustomValidity('*El campo no puede quedar vacío')">
                        </label>
                        <!-- <label class="field">Estreno
                            <input type="checkbox" class="input-text" name="estreno" id="estreno"   oninvalid="this.setCustomValidity('*El campo no puede quedar vacío')">
                        </label> -->
                        <!-- <label class="field" for="rating">Rating #### NO FUNCIONA!
                            <select name="rating" id="rating" class="input-text">
                                <option value="" disabled selected hidden>Seleccionar</option>
                            <% for (const x of estructuraMovie['ratings']) { %>
                                <option value ="<%= x %>"><%= x %></option>
                            <% } %>
                        </label> -->
                        <!-- <br><br><br> <div></div> -->
                        
                        <label class="field" for="categoria">Categoría
                            <select name="category" id="categoria" class="input-text">
                                <option value="" disabled selected hidden>Seleccionar</option>
                            <% for (const i of estructuraMovie['categories']) { %>
                                <option value ="<%= i %>"><%= i %></option>
                            <% } %>
                            </select>
                        </label>

                        <label for="imagen" class="field">Póster de la película
                            <input type="file" name="image" id="imagen" class="input-text">
                        </label>

                        <label for="banner" class="field">Banner de la película
                            <input type="file" name="banner" id="banner" class="input-text">
                        </label>

                        <div class="field">
                            <button class="button" type="submit" id = "login-rg-btn">Crear</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>