<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <% if (typeof user === 'undefined') { %>
        <%- include('./partials/header') %>
    <% } else { %>
        <%- include('./partials/headerLoggedIn') %>
    <% } %>
    <main>
        <div class="container">
            <h1><%= datos.title%></h1>
            <img src="/images/movies/<%= datos.image %>" alt="Imagen de la Película">

            <div class="details">
                <p><strong>Género:</strong> <%= datos.category %></p>
                <p><strong>Año:</strong> <%= datos.year %> </p>
                <p><strong>Director:</strong> <%= datos.director %></p>
                <p><strong>Reparto:</strong> <%= datos.cast %></p>
                <p><strong>Descripción:</strong> <%= datos.description %> </p>
            </div>

            <div class="rating">
                <p><strong>Puntuación:</strong></p>
                <div id="star-rating">
                    <%= datos.rating %>
                </div>
            </div>

            <div class="buttons-detalle">
                <button class="reserve-button">Reservar</button>

                <form method="POST" action="/detalle_producto/<%=idPelicula%>?_method=DELETE">
                    <button type="submit" class="delete-button">Eliminar producto</button>
                </form>

                <!-- <p><%=idPelicula%>ASFDFAA</p> -->
                <a href="/editar_producto/<%=idPelicula%>" class= "delete-button">Editar</a>

                <a href="/" class="back-button">Volver</a>
            </div>



        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>