<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <!-- Error por si el usuario no es admin y quiere crear. Verificar luego -->
  <% if (user === undefined) { %>
    <%- include('./partials/header') %>
  <% } else { %>
      <%- include('./partials/headerLoggedIn') %>
  <% } %>
  <% if (!(typeof errorMsg == "undefined")) { %>
    <script>window.alert(errorMsg)</script>
  <% } %>
  <div class="home-main">
    <div class="carrusel">
      <div id="slider">
        <div class="slides">
          <div class="slider">
            <div class="image">
              <img src="/images/cover1.jpeg">
            </div>
          </div>
          <div class="slider">
            <div class="image">
              <img src="/images/cover2.jpeg">
            </div>
          </div>
          <div class="slider">
            <div class="legend"></div>
            <div class="image">
              <img src="/images/cover3.jpeg">
            </div>
          </div>
          <div class="slider">
            <div class="legend"></div>
            <div class="image">
              <img src="/images/cover4.jpeg">
            </div>
          </div>
        </div>
        <div class="switch">
          <ul>
            <li>
              <div class="on"></div>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="home-main_content">
        <div class="categorias">
          <div class="categoria-title">
            <h3>categoria</h3>
            <a href="/categorias">ver todas</a>
          </div>
          <div class="categoria-list">
            <!-- Aca creo que es mejor usar ejs y ya directamente darle funcionalidad -->
            <!-- El atributo categ creo que se debe reemplazar por id en algun momento -->
            <% if (categs) { %>
              <% for (const categ of categs) { %>
                <a href="/categorias/<%= categ.categoria %>" class="categoria">
                  <div class="<%= categ.backgroundClass %>">
                    <!-- colocar con background-image -->
                  </div>
                  <h4><%= categ.title %></h4>
                </a>
              <% } %>
            <% } else { %>
              <a href="/detalle_producto" class="categoria">
                <div class="background-img backg-accion">
                  <!-- colocar con background-image -->
                </div>
                <h4>acción</h4>
              </a>
              <a href="/detalle_producto" class="categoria">
                <div class="background-img backg-aventura">
                  <!-- colocar con background-image -->
                </div>
                <h4>aventura</h4>
              </a>
              <a href="/detalle_producto" class="categoria">
                <div class="background-img backg-drama">
                  <!-- colocar con background-image -->
                </div>
                <h4>drama</h4>
              </a>
              <a href="/detalle_producto" class="categoria">
                <div class="background-img backg-romance">
                  <!-- colocar con background-image -->
                </div>
                <h4>romance</h4>
              </a>
            <% } %>
          </div>
        </div>
        <div class="kiosco">
          <div class="kiosco-title">
            <h3>kiosco</h3>
            <a href="#">ver todos</a>
          </div>
          <div class="kiosco-list">
            <div class="kiosco-product">
              <div class="img-product">
                <img src="/images/popcorn.png" alt="popcorn pequeño">
              </div>
              <div class="kiosco-product-details">
                <div class="product-title">
                  <h4>Popcorn & CocaCola</h4>
                  <span>normal</span>
                </div>
                <div class="product-price">
                  <h4>$ 2000</h4>
                  <a href="#">Ordenar</a>
                </div>
              </div>
            </div>
            <div class="kiosco-product">
              <div class="img-product">
                <img src="/images/popcorn.png" alt="popcorn pequeño">
              </div>
              <div class="kiosco-product-details">
                <div class="product-title">
                  <h4>Popcorn & CocaCola</h4>
                  <span>mediano</span>
                </div>
                <div class="product-price">
                  <h4>$ 2000</h4>
                  <a href="#">Ordenar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer') %>
</body>
</html>


<!-- <h2>Estaba probando conectar el servidor con todos los archivos de la carpeta views desde el app.js. Si algo no funciona, agregarlo a mano.</h2>
<br><br>
<a href="/login">LOGIN</a>
<a href="/carrito">CARRITO</a>
<a href="detalle_producto">DETALLE PRODUCTO</a>
<a href="/ir_a_pagar">PAGAR</a>
<a href="/kiosco">KIOSCO</a>
<a href="/registro">REGISTRO</a> -->