<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>    
    <body class="kiosco-body">

        <% if (typeof user === 'undefined') { %>
            <%- include('./partials/header') %>
        <% } else { %>
            <%- include('./partials/headerLoggedIn') %>
        <% } %>

        <main>
            <h1 class="titulo-productos">Todas las películas</h1>
            <ul class="lista-productos">
                <% for (let i= 0; i<productos.length; i++) { %>
                    <li class="item-productos"> <a href="/detalle_producto/<%= productos[i].id %>"> <img src="<%= productos[i].local?`/images/movies/${productos[i].poster}`:productos[i].poster %>" alt="póster de la película"> <p><%= productos[i].titulo %></p> </a></li>
                <% } %>
            </ul>
        </main>

        <%- include('./partials/footer') %>
        
    </body>
</html>