<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <% if (typeof user === 'undefined') { %>
        <%- include('./partials/header') %>
    <% } else { %>
        <%- include('./partials/headerLoggedIn') %>
    <% } %>
    <!-- El style lo use de prueba, no usarlo despues -->
    <h1 style="color: azure;">ESTE ES EL PERFIL DEL USUARIO <%= user.user %></h1>  
    <h2 style="color: azure;">Preferencias: </h2>
    <h4 style="color: azure;">Recordar usuario: <%= locals.recordame %></h4>
    <%- include('./partials/footer') %>
</body>
</html>