<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>


     include('./partials/headerLoggedIn') 

    <main class="main-perfil">

        <section class="section-datos-perfil">
            <!-- reemplazar el src de la imagen por <%= user.imagen %> cuando pongamos imagen de perfil al registrarse -->
            <% for (let i=0; i<registrados.length; i++) { %>

                <% if (registrados[i].id == usuarioActual) { %>

                    <img src="<%= registrados[i].foto %>" alt="Foto de perfil"> 
                    <h1>¡Hola, <%= registrados[i].nombre %>!</h1>  

                <% } %>

            <% } %>
        </section>

    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>