<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

    <body class="register-body">

        <% if (typeof user === 'undefined') { %>
            <%- include('./partials/header') %>
        <% } else { %>
            <%- include('./partials/headerLoggedIn') %>
        <% } %>

        <main class="registro">
            <h2 class="titulo-login">Registrarse</h2>
            <form action="/registro" method="POST" class="wrapper" enctype ="multipart/form-data">
                
                <label class="field" for="username"> Nombre de usuario
                    <input class="input-text" type="text" name="username" id="username">
                </label>
    
                <label class="field" for="email"> Email
                    <input class="input-text" type="email" name="email" id="email">
                </label>
    
                <label class="field" for="avatar"> Foto de perfil
                    <input class="input-text" type="file" name="avatar" id="avatar">
                </label>
    
                <label class="field" for="rol"> Rol
                    <select name="rol" id="rol">
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <% for (let i=0; i<roles.length; i++) { %>
                            <option value="<%= roles[i].id %>"><%= roles[i].tipo %></option>
                        <% } %>
                    </select>
                </label>
    
                <label class="field" for="password"> Contraseña
                    <input class="input-text" type="password" name="password" id="password">
                </label>
    
                <label class="field" for="repeat_password"> Repetir contraseña
                    <input class="input-text" type="password" name="repeat_password" id="repeat_password">
                </label>

                <div class="login-bottom">
                    <button type="submit" class="button">Registrarse</button>
                </div>
                            
            </form>
                        
        </main>
        <br>
        <br>
        <br>
        <%- include('./partials/footer') %>
        
    </body>
</html>