<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="wrapper">

                    <form class="section-input" method="POST" action="./usuario" enctype="multipart/form-data">
                        <label class="field">Nombre Completo:
                            <input type="text" class="input-text" name="fullName" id="fullName" minlength="1" oninvalid="this.setCustomValidity('*El campo no puede quedar vacío')" placeholder="Ej: Juan Rodríguez">
                        </label>
                        <label class="field" for="email"> Correo electrónico:
                            <input type="emial" name="email" id="emial" class="input-text" placeholder="Ej: JuanRodriguez@gmail.com">
                        </label>
                        <label class="field" for="password">Contraseña:
                            <input type="password" name="password" id="password" class="input-text">
                        </label>
                        <label class="field" for="country"> País de nacimiento:
                            <select type="text" class="input-text" name="country" id="country" minlength="1" oninvalid="this.setCustomValidity('*El campo no puede quedar vacío')">
                                <option value="">Selecciona tu país de origen</option>
                                <% 
                                let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];
                                 %>
                                 <% for (const oneCountry of countries) {%>
                                    <option value="<%= oneCountry %>"> <%=oneCountry%></option>
                                    <% } %>
                                </select>
                        </label>
                        <label for="imagen" class="field">Foto de perfíl
                            <input type="file" name="users" id="imagen" class="input-text">
                        </label>
                        <div class="field">
                            <button class="button" type="submit" id = "login-rg-btn">Enviar</button>
                        </div>
                        </form>

            <%- include('./partials/footer') %>
    </body>

</html>